html {
  font-family: -apple-system, Roboto, Ubuntu, Tahoma, sans-serif;
  font-size: 1.25rem;
  padding: 2em;
  display: grid;
  justify-content: center;

  --text-color: 0, 0, 0;
  color: rgb(var(--text-color));
}

body {
  width: 100%;
  max-width: 40em;
  display: grid;
  place-content: center;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000D;
    --text-color: 238, 238, 238;
  }

  a {
    color: #669df5;
  }

  a:visited {
    color: #af73d5;
  }
}

h1 {
  margin-top: -3em;
  padding: 0.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  color: white;
}

h2>a,
h2>a:visited {
  color: rgba(var(--text-color), 1);
}

h2>a:not(:hover) {
  text-decoration: none;
}

h2>a:not(:hover) .link-icon {
  visibility: hidden;
}

section {
  margin: 0 -1em;
  padding: 0 1em;
}

ul {
  margin-block: 0;
}

li {
  margin: 0.5em auto;
}

li img {
  margin: auto;
}

.box {
  border: 1px solid rgba(var(--text-color), 0.3);
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  margin: 0.5em;
}

.box>a {
  display: grid;
  place-content: center;
}

.box>div {
  margin: 1em;
}

.box.no-image {
  grid-template-columns: 1fr;
  font-style: italic;
}

.box.no-image>div {
  margin: 0 1em;
}

@media (max-width: 40em) {
  .box>a {
    margin-top: 1em;
  }

  .box {
    grid-template-columns: 1fr;
  }
}

:target {
  animation: initial-highlight 2s forwards;
}

@keyframes initial-highlight {
  from {
    background-color: rgba(var(--text-color), 0.2);
  }

  to {
    background-color: transparent;
  }
}
